@charset "UTF-8";
$color-red: #ff4b44;
$color-black:#3e3e3e;
$color-gray:#8d8c92;
$color-lightgray:#f9f9f9;
$color-white:#FFFFFF;
$color-pink: #dfb9d7;
$color-milk: #ededed;
$color-skyblue: #18c4ed;

@mixin transparentW($alpha:0){
  background: transparentize($color-white,$alpha);
}

@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}