@charset "UTF-8";

$form-margin:15px;//表单外边距
$form-padding:10px;//表单内边距
$form-inner-spacing:10px;//表单项目空隙

$padding-margin-huge:60px;//内边距
$padding-margin-normal:30px;//内边距
$padding-margin:15px;//内边距

$icon-spacing:6px;//图标与其他间距

$text-size-huge:40px;//大文本
$text-size-title:24px;//标题
$text-size-subtitle:16px;//子标题
$text-size-content:18px;//p

$default-radius:5px;//默认圆角半径
$normal-radius:30px;//常规圆角半径